.column1,
.column2 {
  fill: #5e616e;
}

.single-arrow {
  animation: blink 2s infinite;
}

@keyframes animateDot {
  0% {
    fill: #5e616e;
  }
  3.08% {
    /* 200/6500 мс */
    fill: white;
  }
  6.15% {
    /* 400/6500 мс */
    fill: white;
  }
  15.38% {
    /* 1000/6500 мс */
    fill: #5e616e;
  }
  100% {
    fill: #5e616e;
  }
}

.arrow:nth-child(1) .column1 {
  animation: animateDot 6500ms infinite linear;
  animation-delay: 1166.5ms; /* 166.5 */
}
.arrow:nth-child(1) .column2 {
  animation: animateDot 6500ms infinite linear;
  animation-delay: 1233ms; /* 166.5 + 66.5 */
}

.arrow:nth-child(2) .column1 {
  animation: animateDot 6500ms infinite linear;
  animation-delay: 1333ms; /* 233ms + 100ms */
}
.arrow:nth-child(2) .column2 {
  animation: animateDot 6500ms infinite linear;
  animation-delay: 1433ms; /* 333ms + 100ms */
}

.arrow:nth-child(3) .column1 {
  animation: animateDot 6500ms infinite linear;
  animation-delay: 1533ms; /* 433ms + 100ms */
}
.arrow:nth-child(3) .column2 {
  animation: animateDot 6500ms infinite linear;
  animation-delay: 1633ms; /* 533ms + 100ms */
}

.arrow:nth-child(4) .column1 {
  animation: animateDot 6500ms infinite linear;
  animation-delay: 1733ms; /* 633ms + 100ms */
}
.arrow:nth-child(4) .column2 {
  animation: animateDot 6500ms infinite linear;
  animation-delay: 1799.5ms; /* 733ms + 66.5ms */
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

.first-title,
.second-title {
  color: rgba(255, 255, 255, 0.15);
  -webkit-background-clip: text;
  background-image: radial-gradient(
    closest-side,
    rgba(255, 255, 255, 0.9) 40%,
    rgba(255, 255, 255, 0.1) 60%,
    transparent 100%
  );
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 600px 600px;
}

.first-title {
  animation: first-sequence 6.5s linear infinite;
}

.second-title {
  animation: second-sequence 6.5s linear infinite;
}

@keyframes first-sequence {
  0% {
    background-position: 50% 50%;
    color: rgba(255, 255, 255, 0.15);
  }
  20% {
    background-position: 50% 50%;
    color: rgba(255, 255, 255, 0.15);
  }
  50% {
    background-position: calc(-200%) 50%;
    color: rgba(255, 255, 255, 0.15);
  }
  85% {
    background-position: calc(-200%) 50%;
    color: rgba(255, 255, 255, 0.15);
  }
  100% {
    background-position: calc(-200%) 50%;
    color: rgba(255, 255, 255, 1);
  }
}

@keyframes second-sequence {
  0% {
    background-position: -600px 50%;
    color: rgba(255, 255, 255, 0.15);
  }
  20% {
    background-position: -600px 50%;
    color: rgba(255, 255, 255, 0.15);
  }
  50% {
    background-position: 50% 50%;
    color: rgba(255, 255, 255, 0.15);
  }
  51% {
    background-position: 50% 50%;
    color: rgba(255, 255, 255, 0.15);
  }
  85% {
    background-position: 50% 50%;
    color: rgba(255, 255, 255, 0.8);
  }
  100% {
    background-position: 2000px 50%;
    color: rgba(255, 255, 255, 0.15);
  }
}
