@layer components {
  .mask-styles {
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
  }

  /* TODO: update footer icons and mask-size if needed */
  .footer-icon-size {
    -webkit-mask-size: 20px 20px;
  }

  .xcom-icon {
    -webkit-mask-image: url('/images/footer/x-com.svg');
    @apply mask-styles footer-icon-size;
  }
  .linkedin-icon {
    -webkit-mask-image: url('/images/footer/linkedin.svg');
    @apply mask-styles footer-icon-size;
  }
  .github-icon {
    -webkit-mask-image: url('/images/footer/github.svg');
    @apply mask-styles footer-icon-size;
  }
  .youtube-icon {
    -webkit-mask-image: url('/images/footer/youtube.svg');
    @apply mask-styles footer-icon-size;
  }
  .discord-icon {
    -webkit-mask-image: url('/images/footer/discord.svg');
    @apply mask-styles footer-icon-size;
  }
}
